//This file will create mpatch_macro.h and kconfig
//"M:" module name, "P:" Patch name

M:PLATFORM,"Platform Porting layer"
P:ARCH_GENERAL,y,"General Config For ARCH"
P:ARM,y,"For ARM only"
P:MIPS,y,"For MIPS only"
P:FIXME,y,"PLEASE FIX ME"
P:ARM_PMU,y,"For ARM PMU"
P:PM,y,"For PM Power Off"
P:ARM_ERRATA_775420,y,"ARM errata_775420: A data cache maintenance operation which aborts, might lead to deadlock"
P:MSTAR_LEGANCY_INTR,y,"For Second Level Interrupt"
P:SW_PATCH_L2_SRAM_RMA,n,"For L2 Sram RMA"
P:MIPS74K_TIMER,y,"Increase waiting time for timer to response"
P:ARM_MSTAR_ETM,y,"For ARM ETM patch"
P:INT_1_to_1_SPI,n,"Interupts connect to gic spi separately"
P:DISABLE_JIFFIES_OVERFLOW_DEBUG,y,"In order to product MP more stable,overflow time was more than 50 days"
P:LZMA_BIN_COMPRESSED,y,"Enable lzma bin compressed suppor"
P:CPU_SETTING,y,"Enable DVFS(dynamic voltage frequency scaling) function"
P:MIPS_SYSTEM_CALL_GET_VERSION,n,"MIPS Use system call to get mboot and kernel version"
P:VERIFY_LX_MEM_ALIGN,y,"Checking LX_MEM Alignment"

M:NAND,"NAND Driver Porting layer"
P:UBI, y, "Patch for UBI"
P:MTD, y, "Patch for MTD"
P:UBIFS, y,"Patch for UBIFS"
P:Spansion, y,"Patch for specific customers"
P:BBT, y,"patch for the security mechanism of bbt"
P:BBT_SIZE, y,"add bbt size compatibility and pair page effect"

M:USB,"USB Driver Patch"
P:MSTAR, y, "MSTAR USB Porting"

M:SD,"SD Driver Patch"
P:MSTAR, y, "MSTAR SD Patch"
P:PLUG, y, "Wiat for the initialization of SD card"

M:EMMC,"EMMC Driver Patch"
P:PARTITION, y, "EMMC Partition Porting"
P:MMC_PATCH, y, "MMC Layer Patch"
P:TRIM, n, "EMMC 4.41 Spec New Feature Trim"
P:CACHE, n, "EMMC 4.5 Spec New Feature Cache"
P:DATATAG, n, "EMMC 4.5 Spec New Feature DataTag"

M:JBD2,"JBD2 Patch"
P:COMMIT_NUM_LIMIT, n, "Limit the number of commited blocks"
P:RESET_JOURNAL_SB, y, "Reset the jbd2 superblock when it corrupted"

M:MSTAR_STR,"MStar STR"
P:BASE,n,"Enable MStar STR"

M:Android,"MSTAR Android Patch"
P:LOW_MEM_KILLER_INCLUDE_CACHEMEM,y,"MSTAR Android Low Memory Killer Patch Consider Cache and Free"
P:DUMMY_MSTAR_RTC,n,"MSTAR Fake RTC For Android"
P:ALARM_CLOCK_BOOTTIME_PATCH,y,"MSTAR Android Alarm clock boot time patch"
P:MSTAR_RC_MAP_DEFINE,y,"MStar rc map define, depend on CONFIG_MSTAR_IR_INPUT_DEVICE"
P:MSTAR_HARDCODE_LPJ,n,"hardcode lpj for china customer"


M:COMPILER,"Fix Compiler Error"
P:ERROR,y,"Please Fix Compiler Error"

M:DEBUG_TOOL,"MSTAR DEBUG_TOOL"
P:WATCHDOG,n,"Enable Watchdog Reset"
P:CODEDUMP,y,"Enable CODEDUMP Item"
P:CODEDUMP_DATA_SYNC,y,"For Coredump write file completely"
P:COREDUMP_PATH,n,"Change Coredump Path depend on core name"
P:COREDUMP_PATH_OPTION,y,"depend on bootargs to change core pattern"
P:COREDUMP_DETECT_USB_PLUGIN,n,"detect usb plugin"
P:KDEBUG,y,"Enable KDEBUG Item"
P:CHANGELIST,y,"Display Kernel Changelist"
P:OPROFILE,y,"Enable OProfile Item"
P:UBI,y,"Enable print error msg"
P:OOM,y,"Reset wdt when out of memory happens"
P:LOG,y,"Set the log level to 7"
P:RM,y,"Remove strange message"
P:FORCE_IGNORED_CORE_DUMP_PATH_BOOTARGS_WHEN_USB_PLUGIN,n,"Force ignored core dump path bootargs when usb plugin"
P:RAMLOG,y,"MSTAR RAMLOG driver"
P:RTP_TRACE,n,"RTP trace message enabled"
P:SKIP_PULLING_RUNNING_RT_TASK,y,"Do not pull a running rt task"
P:INTERRUPT_DEBUG,n,"Enable interrupt debug"

M:REMOTE_CONTROL,"MSTAR Remote Control Patch"
P:RC_REGISTER_RETRY,y,"MSTAR Patch for rc device register"

M:SCSI,"SCSI sd card hotplug "
P:MSTAR_SD_CARD_HOTPLUG,y,"MSTAR Patch for sd card hotplug"
P:HD_SUSPEND,y,"Do not clean cache when suspend"
P:MULTI_LUN,y,"recognize multi-lun device's luns which are not the first lun"

M:MM,"3D alloc in MIU0/MIU1 "
P:MSTAR_3DALLOC_MIU0_1,y,"MSTAR Patch for 3d alloc in MIU0/MIU1"
P:MALI_MMU_NOTIFIER,y,"replacing mmu_notifier in mm/Kconfig"
P:MALI_RESERVE,n,"Reserve memory for mali in specified MIU"

M:MMAP,"Modify memory map"
P:BUFFERABLE,y,"change the write strategy from non-cache to non-cache bufferable"
P:MMAP_BOUNDARY_PROTECT,n,"add va upper/lower protect boundary with PAGE_NONE pte_value, both two boundaries can not be accessed"

M:MIU, "MIU settings"
P:MAPPING,y,"Memory mapping strategy through MIU for eagle"

M:MIPS_L2,"MIPS Mstar L2 Patch"
P:CATCH,y,"Enable MIPS L2 Cache Mechanism"

M:WDT, "WDT settings"
P:OFF_DBG,y,"Do not reset watch dog under debug mode"

M:CAMERA, "CAMERA plug"
P:PLUG_OUT,y,"Set time out for event waiting"

M:SYSATTR, "ATTR of API"
P:SHOW,y, "Let the hidden attribute could be accessed by user API"

M:MIPS_HIGHMEM,"MIPS Highmem Patch"
P:CACHE_ALIAS_PATCH,y,"Highmem Cache Alias Patch"
P:MEMORY_PRESENT_PATCH,y,"Mstar highmem memory present patch"

M:CHECKPT, "Print for autotest"
P:BOOT,y,"Add a checkpoint for boottime autotest"

M:WEBCAM, "WEBCAM settings"
P:INIT,y,"modify the init process of logic webcam"

M:MIPS, "MIPS Support (move others from here in the future)"
P:MIPS16E_UNALIGNED_ACCESS,y,"MIPS16e Unaligned Access Support"

M:NTFS3G,"NTFS3G CONTROL"
P:WRAP,y,"Enable NTFS3G WRAP"

M:BDI,"BDI race condition patch"
P:MSTAR_BDI_PATCH,y,"MSTAR Patch for bdi race condition"

M:SMP,"Core 2 control"
P:STARTUP,y,"Booting address of core2"

M:UART,"MSTAR UART"
P:SERIAL_8250_RIU_BASE,y,"RIU BASE for SERIAL 8250"
P:SERIAL_OPEN_SET_BAUDRATE,n,"Serial open default set baudrate as 9600"

M:NTFS,"KERNEL SELF NTFS CONTROL"
P:IOCTL,y,"Enable NTFS IOCTL"
P:VOLUME_LABEL,y,"Enable NTFS VOLUME LABEL"
P:VOLUME_ID,y,"Enable NTFS VOLUME ID"
P:READ_PAGES,y,"ADD and Enable NTFS READ PAGES"
P:REFINE_READDIR,n,"Refine readdir to resolve readdir only get partial entries issue"

M:KERNEL_COMPAT,"Kernel forward/backford compatibility"
P:FROM_2_6_35_11_TO_3_1_10,n,"Support compatibility from 2.6.35.11 to 3.1.10"
P:PATCH_FIX_INODE_CLUSTER_LIST,y,"port relative code from 2.6.28.9 to 3.1.10"

M:ETHERNET,"Enhane smartbit result"
P:MSTAR_ICMP_ENHANCE,n,"MSTAR Patch for pass Smartbit ICMP throughput test"

M:USB,"USB STR patch"
P:STR_PATCH,y,"MSTAR Patch for usb str"

M:FAT,"FAT Filesystem"
P:VOLUME_LABEL,y,"ENABLE FAT VOLUME LABEL"

M:CA7,"CA7 Quad Core patch"
P:QUAD_CORE_PATCH,n,"MSTAR porting code for CA7 Quad-Core"

M:CA7,"CA7 HW Break Points Enable patch"
P:HW_Break_Points_Enable,y,"Enable CA7 HW Break Points"

M:CA7,"CA7 Performance Monitor Unit Enable patch"
P:Performance_Monitor_Enable,y,"Enable CA7 Performance Monitor Unit"

M:KERNEL_BUG,"Kernel bug resolve"
P:PATCH_REMOVE,y,"Remove a path added in kernel 2.6.39.1 which no longer need in kernel 3.1.10"

M:HID,"HIDraw patch"
P:HIDRAW_PATCH,y,"hidraw device meta data corrupted due to race condition."
P:HIDRAW_OPENSRC,y,"patch the newest version of opensource code to ours"
P:HIDRAW_TRYLOCK,y,"use mutex_trylock to avoid coredump happening"

M:BLCR,"BLCR"
P:COMPILE_PATCH,y,"BLCR Patch"

M:WIRELESS,"WIRELESS RALINK MIRACAST PATCH"
P:MSTAR,y,"Mstar miracast patch"

M:SATA,"SATA Driver Patch "
P:ATA_CORE_PATCH,y,"ATA Core patch to use temp buffer for Read ID Function"

M:ACP, "Accelerator coherence port"
P:L2,n,"Necessary L2 setting for ACP"
P:DIRECTION,n,"Add acp direction to avoid non-necessary cache operation"

M:TEMP_DEBUG,"USE FOR TEMPORARY DEBUG"
P:EIFFEL_NETFLIX,n,"NFX crashed in long time playback"

M:SCHD_DEBUG,"USE FOR SCHEDULE DEBUG"
P:RE_SCHED_NOR,n,"Redirect RR/FIFO scheduler to Normal"

M:ANTUTU_BENCHMARK,"Use for AnTuTu performance"
P:RISE_PERFORMANCE,n,"Rise Antutu performance"